<main class="d-flex justify-content-evenly">
  <div class="job_search w-50 p-5 text-light d-flex flex-column justify-content-center">
    <h3>Looking for a job oportunity?</h3>
    <p>Check what we can offer to you!</p>
    <%= link_to 'Looking for a job', jobs_path, class: "btn btn-block btn-success fs-2 text-light"  %>
  </div>

  <div class="employee_search w-50 p-5 text-light d-flex flex-column justify-content-center ">
    <h3>Looking for talents who can join your industry?</h3>
    <p>Sign up and create your job offer now!</p>
    <%= link_to "Create a job offer", new_user_registration_path, class: "btn btn-block btn-success fs-2 text-light" %>
  </div>
</main>