<main class="row g-0 d-flex justify-content-stretch m-0 ">
  <div class="job_search col-sm-12  p-5 text-light d-flex flex-column justify-content-center">
    <h3>Looking for a job oportunity?</h3>
    <p>Check what we can offer to you!</p>
    <%= link_to 'Looking for a job', jobs_path, class: "btn btn-block btn-success fs-2 text-light"  %>
  </div>

  <div class="employee_search col-sm-12  p-5 text-light d-flex flex-column justify-content-center ">
    <h3>Looking for talents who can join your industry?</h3>
    <p>Sign up and create your job offer now!</p>
    <%= link_to "Create a job offer", job_offer_path, class: "btn btn-block btn-success fs-2 text-light" %>
  </div>
</main>