<h1>Dear <%= @job_application.name %>,</h1>

<p>Thank you for applying for our position <%= @job.name %></p>
<p> <%= @employer.name %> will contact you soon. </p>
<p>Best regards,</p>
<p>JobFinder team</p>

