main {
  min-height: 85vh;
}

.job_search {
  background: linear-gradient(rgba(20, 33, 61, 0.5), rgba(252, 163, 17, 0.5)), image-url("background1.jpg");
  background-size: cover;
  width: 100%;
}

.employee_search {
  background: linear-gradient(rgba(252, 163, 17, 0.5), rgba(20, 33, 61, 0.5)), image-url("background2.png");
  background-size: cover;
  width: 100%;
}

@media (min-width: 786px) {
  .job_search,
  .employee_search {
    width: 50%;
  }
}
