.main-show-job {
  max-width: 1200px;
  margin: 0 auto;
}

.center-container {
  max-width: 1000px;
  margin: 20px auto;
}

.right {
  width: 100%;
}

a {
  color: #fca311;
}

.details-btn {
  background: #e5e5e5;
  padding: 5px 10px;
  border-radius: 5px;
}

.details-btn:hover {
  background-color: #ccc;
  color: #000;
  box-shadow: 0 0 10px 1px rgba(88, 115, 163, 0.77);
  transition: 0.3s ease-in;
}

.apply-btn {
  padding: 5px 10px;
  background-color: #fca311;
  color: #14213d;
}

.apply-btn:hover {
  background-color: #d78703;
  color: #000;
  box-shadow: 0 0 10px 1px rgba(130, 141, 27, 0.77);
  transition: 0.3s ease-in;
}

.fa-edit {
  color: #fca311;
}

.fa-edit:hover {
  transform: scale(1.1);
  transition: 0.5s ease-out;
  cursor: pointer;
  color: #fdb643;
}

.fa-times-circle {
  color: #8f2222;
}

.fa-times-circle:hover {
  transform: scale(1.1);
  transition: 0.5s ease-out;
  cursor: pointer;
  color: #b82c2c;
}

.fa-long-arrow-alt-left {
  color: #e5e5e5;
  font-size: 1.2rem;
  font-style: normal;
}

.fa-long-arrow-alt-left:hover {
  cursor: pointer;
  color: #b2b2b2;
}

.trix-editor {
  min-height: 300px;
}

@media (min-width: 786px) {
  .details-btn {
    background: #e5e5e5;
    padding: 10px 40px;
    border-radius: 5px;
  }

  .apply-btn {
    padding: 10px 80px;
    background-color: #fca311;
    color: #14213d;
  }
}
